body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* tornar as imagens responsivas (modo preguiçoso)
 img {
    max-width: 100%;
} */

h1 {
    font-family: 'Delius', cursive;
    font-size: 2em;
}
header,
footer {
    height: 60px;
    background-color: rgb(50, 50, 50);
    color: rgb(225, 225, 225);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div, footer > div {
    display: flex;
    align-items: center;
    width: 220px;
    /* margin: 10px; ou: */
    height: 40px;
}

footer > div {
    width: 360px;
    font-size: 0.8em;
}

footer > div.right {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
}

header > div > img, footer > div > img {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 10px;
}

header > div:last-child > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

div.conteudo {
    display: flex;
    flex-direction: row;
}
@media(max-width:450px){
    footer{
        height: 100%;
        flex-direction: column;
    }
    footer div.right {
        flex-direction: row;
    }
    footer > div {
        margin: 10px 0;
    }
    header > div:last-child {
        flex-direction: row-reverse;
    }
    header > div *:not(img) {
        display: none;
    }
    div.conteudo{
        flex-direction: column;
    }
}

div.conteudo > * {
    padding: 10px;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

section.noticias > article {
    margin: 10px 0;
}

section.noticias > article > div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

section.noticias > article > img {
    float: right;
}

aside {
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside > * {
    margin-bottom: 20px;
}





